<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h2>Registro</h2>
    <form action="" method="post">
        <div>
            <label for="nombre">Nombre</label>
        <input type="text" name="apellido" id="apellido">
        </div>
        <div>
                <label for="apellido">Apellido</label>
        <input type="text" name="email" id="email">
        </div>
       <div>
        <label for="email">email</label>
        <input type="text" name="email" id="email">
       </div>
          <div>
            <label for="password">password</label>
            <input type="password" name="password" id="password">
          </div>
          <div>
            <label for="password">password</label>
            <input type="password" name="password" id="password">
          </div>
    </form>
</body>
</html>