<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva pelicula</h1>
    <div>
        <button type="submit">
            inicio
        </button>
    <div>
        <button type="submit">
            Cerrar sesion
        </button>

    </div>
    <p>Nombre de la pelicula {{ }}</p>
    <p>Director {{}}</p>
    <p>fecha de estreno {{}}</p>
    <p>sinopsis <textarea name="" id="">

    </textarea></p>
    <button type="submit">Guardad pelicula</button>

</body>
</html>